footer {
    position:relative;
    left:0;
    bottom:0;
    width:100%;
    height:50px;
}

footer div {
    position:relative;
    left:0;
    bottom:0;
    width:100%;
    background-color:gray;
    height:50px;
    padding-top:15px;
    color:white;
    border-top:10px solid lightseagreen;
}

.navbar-brand {
    color:white !important;
    background-color: lightseagreen !important;
    margin-left:50% !important;
}

h1, h2, h3 {
    color:lightseagreen;
}

p {
    margin-right:10px;
    margin-left:10px;
}
#comparison {
    padding:20px;
}

.container .row .col-12 {
    padding:10px 40px;
}

body {
    background-color:lightgray;
}

.primarycontent {
    margin-top:50px;   
}

.addmargin {
    margin:10px;
}

.white {
    background-color:white;
}

#summarypic {
    margin-right: 0px;
}

.thumbnail {
    margin-bottom:5px !important;
}

.active {
    border-color: lightseagreen;
}

.overflow {
    overflow:auto;
}

table, th, td {
    border-left:none !important;
    border-right:none !important;
}

table, th {
    border-top:none !important;
}
