footer {
    background-color:lightseagreen;
    height:50px;
}

footer div {
    background-color:gray;
    height:40px;
    padding-top:15px;
    color:white;
}

.navbar-brand {
    color:white !important;
    background-color: lightseagreen !important;
    margin-left:50% !important;
}

h1, h2, h3 {
    color:lightseagreen;
}

p {
    margin-right:10px;
    margin-left:10px;
}
#comparison {
    padding:20px;
}

.container .row .col-12 {
    padding:40px;
}

body {
    margin-bottom:50px;
    background-color:lightgray;
}

.primarycontent {
    margin-top:50px;
    
}

.addmargin {
    margin:10px;
}

.white {
    background-color:white;
}
#summarypic {
    margin-right: 0px;

}

.thumbnail {
    margin-bottom:5px !important;
}

.active {
    
    border-color: lightseagreen;
    
}